@use "abstracts/mixin";
@use "abstracts/variable";

// button sidebar mobile
.btn-sidebar-mobile {
  display: none;
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 100;
  width: max-content;

  button {
    width: 40px;
    height: 48px;
    display: flex;
    border: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;

    i {
      font-size: 17px;
      color: var(--main);
    }

    &.type-hover {
      padding: 0 11.5px;

      span {
        display: none;
      }

      &:hover {
        width: max-content;
        padding-right: 24px;
        gap: 11.5px;

        span {
          display: block;
        }
      }
    }
  }

  &.left {
    right: auto;
    left: 0;
  }
}



.loadmore-item {
  .fl-item {
    display: none;
  }
}



// tf-marquee
.tf-marquee {
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;

  .wrap-marquee {
    display: flex;
    -webkit-animation: slide-har 6s linear infinite;
    animation: slide-har 6s linear infinite;
    transition: animation-duration 300ms;

    &:hover {
      animation-play-state: paused;
    }
  }

  .marquee-item {
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    gap: 12px;

    .text {
      font-size: 18px;
      line-height: 21.6px;
      white-space: nowrap;
    }

    p {
      white-space: nowrap;
    }
  }

  &.marquee-md {
    padding-top: 30px;
    padding-bottom: 32px;

    p {
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &.marquee-xl {
    svg {
      width: 29px;
      height: auto;
      fill: var(--main);
    }

    padding-top: 75px;
    padding-bottom: 75px;

    .marquee-item {
      gap: 60px;
      padding: 0 29px;

      .text {
        font-size: 40px;
        line-height: 48px;
      }
    }
  }

  &.marquee-sm {
    padding-top: 15px;
    padding-bottom: 15px;

    .marquee-item {
      gap: 22.5px;
      padding-left: 12px;
      padding-right: 12px;

      .text {
        font-size: 12px;
        line-height: 19.2px;
      }
    }
  }

  &.type-big {
    .marquee-item {
      gap: 65px;
      padding: 0 32.5px;

      p {
        font-size: 80px;
        line-height: 96px;
      }
    }
  }

  &.not-hover {
    .wrap-marquee {
      &:hover {
        animation-play-state: running;
      }
    }
  }

  &.type-brown {
    .marquee-item {
      .text {
        color: #704228;
      }

      .icon svg {
        fill: #704228;
      }
    }
  }

  &.type-md {
    .marquee-item {
      gap: 32px;

      .icon svg {
        width: 20px;
        height: auto;
      }

      .text {
        font-size: 16px;
        line-height: 19.2px;
      }
    }
  }

  &.marquee-white {
    .marquee-item {
      svg path {
        fill: var(--white);
      }
    }
  }

  &.marquee-st2 {
    .marquee-item {
      padding-left: 15px;
      padding-right: 15px;
      gap: 30px;
    }
  }
}

// flat title
.flat-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;

  .title {
    font-size: 22px;
    line-height: 26.4px;
  }

  .sub-title {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  &.mb_1 {
    margin-bottom: 30px;
  }

  .sw-dots {
    margin-top: 0;
  }

  &.title-upper {
    .title {
      font-size: 18px;
      line-height: 21.6px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}



// brand







































.tf-marquee.marquee-lg {
  p {
    white-space: nowrap;

    a {
      border-bottom: 1px solid currentColor;
    }
  }

  p {
    font-size: 40px;
    line-height: 56px;
  }
}

.tf-marquee {
  &.marquee-lg {
    padding: 30px;
  }

  &.style-2 {
    .marquee-item {
      gap: calc(52px * 0.75);
    }
  }
}




.tf-breadcrumb-wrap {
  padding: 22.5px 0;
  gap: 15px;

  .tf-breadcrumb-list {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap: wrap;

    .icon {
      font-size: 8px;
      font-weight: 700;
    }

    span {
      color: var(--text);
    }
  }

  .tf-breadcrumb-prev-next {
    display: flex;
    gap: 14px;
    align-items: center;
    font-size: 17px;
  }
}




@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.tf-content-left.has-mt {
  margin-top: 10px;
}

.tf-accordion-wrap {

  >.box,
  >.content {
    width: 100%;
  }

  .tf-other-content {
    padding: 30px 31px 64px 35px;
    height: max-content;
  }
}

.tf-accordion-link-list {
  // max-width: 460px;
  padding: 25px 38px 29px;

  .tf-link-item {
    a {
      padding-top: 15px;
      padding-bottom: 15px;

      &:hover {
        border-color: var(--main);

        .icon {
          opacity: 1;
          visibility: visible;
          transform: translate(0);
        }
      }

      .icon {
        font-size: 8px;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease 0.1s;
        transform: translate(-20px);
      }
    }
  }
}



.tf-timeline-wrap {
  padding-top: 130px;
  padding-bottom: 20px;
}

.tf-timeline-line {
  position: absolute;
  width: 1px;
  border: 1px dashed var(--line);
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    z-index: 3;
    background-color: var(--line);
    border-radius: 50%;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.tf-timeline-inner {
  gap: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-direction: column;
}

.tf-timeline-time {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  color: var(--white);
  border-radius: 2.5px;
  padding: 0 35px;
  font-size: 20px;
  line-height: 36px;
}

.tf-timeline-content,
.tf-timeline-image {
  max-width: 490px;
}

.tf-timeline-content {
  background-color: var(--white);
  text-align: center;

  .tf-timeline-label {
    margin-bottom: 7px;
  }

  .tf-timeline-title {
    margin-bottom: 10px;
  }
}












.progress-wrap {
  position: fixed;
  bottom: 90px;
  right: 40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  background: var(--white);
  border: 1.2px solid rgba(134, 134, 134, 0.12);

  &::after {
    position: absolute;
    content: "\e907";
    font-family: variable.$fontIcon;
    text-align: center;
    line-height: 40px;
    font-size: 8px;
    color: var(--main);
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
  }

  &.active-progress {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  svg path {
    fill: none;
  }

  svg.progress-circle path {
    box-sizing: border-box;
    stroke: var(--main);
    stroke-width: 1.2;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }
}

.tf-cart-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;

  p {
    font-size: 16px;
    line-height: 25.6px;
  }

  svg {
    margin-top: -3px;
    animation: tf-ani-flash 2s infinite;
  }

  .timer-count {
    color: var(--white);
    background-color: var(--primary);
    padding: 2px 10px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    min-width: 110px;
    border-radius: 9999px;
    font-size: 16px;
    line-height: 25.6px;
  }

  .title-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@keyframes tf-ani-flash {

  50%,
  from,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.tf-table-page-cart {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
  line-height: 1.4;

  th {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--line);
    color: var(--main);
    text-align: center;
    padding: 18px 0px;

    &:first-child {
      text-align: start;
    }

    &:last-child {
      text-align: end;
    }
  }

  tr {
    border-bottom: 1px dashed var(--line);

    &:last-child {
      border-bottom-style: solid;
    }
  }

  td {
    padding: 18px 10px;
    vertical-align: middle;

    // margin-bottom: 18px;
    &:first-child {
      text-align: start;
      padding-left: 0;
    }

    &:last-child {
      text-align: end;
      padding-right: 0;
    }
  }
}

.tf-cart-item {
  .tf-cart-item_product {
    display: flex;
    align-items: center;

    .cart-info {
      .cart-title {
        font-size: 14px;
        line-height: 19.6px;
        display: block;
      }

      .cart-meta-variant {
        display: block;
        margin-top: 6px;
        font-size: 12px;
        line-height: 16.8px;
        color: var(--text);
      }

      .remove-cart {
        display: block;
        margin-top: 6px;
        font-size: 12px;
        line-height: 16.8px;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .img-box {
      width: 80px;
      max-height: 110px;
      margin-right: 24px;
      border-radius: 2.5px;
      overflow: hidden;
    }
  }

  .cart-quantity,
  .cart-total,
  .cart-price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: self-end;
    justify-content: safe center;
    gap: 10px;
    line-height: 1;
  }

  .cart-total {
    justify-content: flex-end;
    font-weight: 600;
  }

  .wg-quantity {
    min-width: 109px;
    width: 109px;
    height: 30px;
    background-color: rgb(242, 242, 242);
    border-radius: 12px;

    .btn-quantity {
      width: 27px;
      height: 30px;
      font-size: 20px;
      line-height: 1;
    }

    input {
      width: 30px;
      height: 30px;
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      color: var(--main);
    }
  }
}

.tf-page-cart-footer {
  .tf-free-shipping-bar {
    margin-bottom: 20px;
    padding: 30px;
    border: 1px dashed var(--line);
    border-radius: 2.5px;

    .tf-progress-msg {
      margin-top: 28px;
    }
  }
}

.tf-page-cart-checkout {
  padding: 30px;
  background-color: var(--bg-11);
  border-radius: 2.5px;

  .shipping-calculator {
    padding-bottom: 18px;
    border-bottom: 1px solid var(--line);

    .shipping-calculator-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
    }

    .shipping-calculator_accordion-icon {
      width: 20px;
      height: 20px;
      flex: 0 0 auto;
      margin-inline-start: 5px;
      position: relative;

      &::after,
      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        background-color: currentColor;
        transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
        width: 12px;
        height: 2px;
        opacity: 1;
        border-radius: 9999px;
      }

      &::after {
        height: 12px;
        width: 2px;
      }
    }

    .accordion-shipping-header {
      &:not(.collapsed) {
        .shipping-calculator_accordion-icon {

          &::after,
          &::before {
            transform: translate(-50%, -50%) rotate(90deg);
          }

          &::before {
            opacity: 0;
          }
        }
      }
    }

    .accordion-shipping-content {
      margin-top: 20px;

      .tf-select {
        height: 50px;
      }

      .field {
        margin-bottom: 15px;

        .label {
          margin-bottom: 8px;
          font-weight: 400;
        }

        .tf-select,
        input {
          border-color: transparent;
        }
      }

      .tf-btn {
        font-weight: 600;
        min-width: 199px;
      }
    }
  }

  .cart-checkbox {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .tf-check {
      width: 16px;
      height: 16px;
      border-color: var(--line);
      background-color: var(--white);
      border-radius: 999px;
      overflow: hidden;

      &:checked {
        border-color: var(--primary);
        background-color: var(--primary);
      }

      &::before {
        font-size: 6px;
      }
    }

    a {
      text-decoration: underline;
      text-underline-offset: 2px;
      font-weight: 600;
    }
  }

  .tf-cart-totals-discounts {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 20px;
      line-height: 24px;
    }

    .total-value {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }
  }

  .tf-cart-tax {
    margin-top: 18px;
    color: var(--text);

    a {
      color: rgba(0, 0, 0, 0.85);
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
      text-decoration-line: underline;
      transition: text-decoration-thickness 1s ease;

      &:hover {
        color: var(--main);
        text-decoration-thickness: 2px;
      }
    }
  }

  .cart-checkout-btn {
    margin-top: 18px;

    .tf-btn {
      font-weight: 400;
    }
  }

  .tf-page-cart_imgtrust {
    margin-top: 18px;

    p {
      margin-bottom: 10px;
    }

    .cart-list-social {
      @include mixin.flex(center, center);
      gap: 8px;
    }
  }
}

.tf-page-cart-note {
  label {
    margin-bottom: 20px;
    display: block;
  }
}

#cart-note {
  min-height: 126px;
  border: 1px solid var(--line);
  padding: 15px 20px;
  width: 100%;
  max-width: 460px;
  resize: none;
  border-radius: 3px;
  outline: none;
}

/* Preload 
------------------------------------------- */

.preload-wrapper {
  .preload-container {
    display: flex;
  }
}

.preload-container {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999999999;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 3px solid transparent;
  border-top: 3px solid var(--line);
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#subscribe-msg {
  color: var(--bs-success);

  .notification_ok {
    font-weight: 500;
    color: var(--bs-success);
  }

  .notification_error {
    font-weight: 500;
    color: var(--bs-danger);
  }
}




.wrap-mobile {
  .collection-item-v2 {
    .collection-content {
      inset: 7%;
    }
  }
}

// checkout
.form-checkout {
  .box {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .grid-2 {
    gap: 15px;
  }

  label {
    margin-bottom: 10px;
    position: relative;

    &::after {

      position: absolute;
      color: var(--primary);
    }
  }

  .tf-select {
    height: 50px;
    color: var(--main);
  }

  .select-custom {
    &::after {
      right: 15px;
    }
  }

  input,
  textarea {
    color: var(--main);
    @include mixin.transition3;

    &:focus {
      border-color: var(--main);
    }
  }
}

.widget-wrap-checkout {
  display: grid;
  gap: 20px;
  background-color: #fbfbfc;
  border: 10px;

  .checkout-product-item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @include mixin.flex(center, space-between);
    gap: 15px;

    .img-product {
      width: 64px;
      height: 85px;
      border: 1px solid var(--line);
      border-radius: 3px;
      position: relative;

      .quantity {
        position: absolute;
        right: -8px;
        top: -8px;
        width: 20px;
        height: 20px;
        border-radius: 999px;
        background-color: #3c81b5;
        color: var(--white);
        @include mixin.flex(center, center);
        font-size: 12px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .content {
      flex-grow: 1;
      @include mixin.flex(center, space-between);

      .variant {
        font-size: 12px;
        line-height: 18px;
        color: var(--text);
      }
    }
  }

  .coupon-box {
    display: flex;
    gap: 10px;

    .tf-btn {
      flex-shrink: 0;
    }
  }

  .wd-check-payment {
    .fieldset-radio {
      display: flex;
      align-items: center;
      gap: 8px;

      // .desc{
      //     display: none;
      // }
      label {
        margin-top: 2px;
        font-weight: 400;
        color: var(--text);
      }
    }

    input {
      width: 20px;
      height: 20px;
      border-radius: 50%;

      &:checked~label {
        color: var(--main);
      }
    }

    .box-checkbox {
      input {
        border-radius: 3px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.page-search-inner {
  .tf-search-head {
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 77px;
  }

  .tf-col-quicklink {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;

    .title {
      font-weight: 600;
      margin-right: 9px;
    }
  }

  .tf-search-content-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}

.pagination-wrap-spacing {
  margin-top: calc(76px * calc(75px / 100px));
}

.box-video-wrap video {
  max-height: 702px;
}

.tf-form-sneaker {
  .flat-title {
    .title {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .box-content {
    max-width: 650px;
    padding: 20px;
    margin: 0 auto;
  }
}

.my-account-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 0;

  .my-account-nav-item {
    display: flex;
    width: 100%;
    border: 1px solid var(--line);
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: auto;
      right: 0;
      width: 0;
      height: 1px;
      background-color: #db1215;
      @include mixin.transition3();
    }

    &:hover,
    &.active {
      background-color: var(--bg-11);
      color: var(--primary);
      border-color: transparent;

      // &::before {
      //     width: 100%;
      //     left: 0;
      //     right: auto;
      // }
    }
  }
}

.account-order {
  .wrap-account-order {
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-11);
      border-radius: 999px;
    }
  }

  table {
    width: 100%;
    min-width: 700px;

    thead,
    td,
    th {
      padding: 15px 20px;
    }

    thead tr {
      border: 1px solid var(--line);
      background-color: var(--bg-11);
    }

    tbody {
      border: 1px solid var(--line);
      border-top: 0;

      tr:not(:last-child) {
        border-bottom: 1px solid var(--line);
      }
    }
  }
}

.list-account-address {
  display: grid;
  gap: 40px 30px;
}

.show-form-address,
.edit-form-address {
  display: none;
}

.widget-order-tab {
  margin-top: 30px;

  &.widget-tabs {
    border: none;

    .widget-menu-tab {
      margin: 0 !important;
      gap: 20px !important;

      .item-title {
        padding: 5px 0px;
        font-weight: 500;
        @include mixin.transition3;

        &::after {
          left: 50%;
          @include mixin.transition3;
          transform: translateX(-50%);
        }

        &.active,
        &:hover {
          color: var(--primary);

          &::after {
            background-color: var(--primary);
            width: 100%;
          }
        }
      }
    }

    .widget-content-tab {
      .widget-content-inner {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}

.widget-timeline {
  .timeline {
    list-style: none;
    position: relative;

    &::before {
      top: 20px;
      bottom: 48px;
      position: absolute;
      content: " ";
      width: 2px;
      left: 10px;
      border-right: 1px dashed var(--text-2);
    }

    >li {
      margin-bottom: 15px;
      position: relative;

      .timeline-box {
        padding: 10px 10px 10px 15px;
        position: relative;
        display: block;
        margin-left: 40px;
      }

      .timeline-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 22px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 22px;
        padding: 4px;
        background-color: var(--white);
        border: 1.5px solid var(--text-2);

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 100%;
          display: block;
          background: var(--text-2);
        }

        &.success {
          border-color: var(--success);

          &::after {
            background: var(--success);
          }
        }
      }
    }
  }
}

// invoice
.wrapper-invoice {
  background-color: var(--bg-11);
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoice-section {
  padding: 120px 0px;
  width: 100%;
}

.invoice-section .top {
  text-align: right;
  margin-bottom: 36px;
}

.box-invoice {
  background: var(--white);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.box-invoice .header {
  padding: 133px 100px 122px;
  border-bottom: 1px solid var(--line);
}

.box-invoice .wrap-top {
  display: flex;
  margin-bottom: 56px;
  align-items: center;
  gap: 15px;
}

.box-invoice .box-left {
  width: 60%;
}

.box-invoice .wrap-top .box-right {
  width: 40%;
}

.box-invoice .wrap-top .title {
  font-size: 28px;
  line-height: 36.46px;
  color: var(--theme-color-dark);
  font-weight: 700;
  white-space: nowrap;
}

.box-invoice .wrap-top .price {
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
}

.box-invoice .wrap-date {
  display: flex;
  margin-bottom: 60px;
}

.box-invoice .wrap-date label {
  font-size: 15px;
  line-height: 28px;
  display: block;
}

.box-invoice .wrap-date .date {
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
}

.box-invoice .wrap-info {
  margin-bottom: 40px;
  display: flex;
}

.box-invoice .wrap-info .title {
  font-size: 20px;
  line-height: 26.04px;
  font-weight: 500;
  margin-bottom: 12px;
}

.box-invoice .wrap-info .sub {
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
}

.box-invoice .wrap-info .desc {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

.invoice-table {
  width: 100%;
}

.invoice-table thead {
  background-color: #f6f6f6;
}

.invoice-table .title th {
  padding: 20px 65px 20px 40px;
  color: var(--primary);
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  text-wrap: nowrap;
}

.invoice-table .title th:first-child {
  border-radius: 8px 0 0 8px;
  width: 40%;
}

.invoice-table .title th:last-child {
  border-radius: 0px 8px 8px 0px;
}

.invoice-table .content td {
  padding: 20px 65px 20px 40px;
  font-size: 15px;
  line-height: 28px;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  text-wrap: nowrap;
}

.invoice-table .content .total {
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
}

.invoice-table .content:last-child td {
  border-bottom: none;
}

.box-invoice .footer {
  padding: 43px 30px;
}

.box-invoice .footer .box-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.box-invoice .footer .box-contact li {
  font-size: 15px;
  line-height: 28px;
}

.box-invoice .footer .box-contact li:first-child {
  color: var(--primary);
}

.page-404-wrap {
  padding: 75px 0 56px;
  text-align: center;

  .image {
    margin-bottom: 35px;
  }

  .title {
    font-size: 24px;
    line-height: 29px;
  }

  p {
    margin-top: 14px;
    color: var(--text);
  }

  .tf-btn {
    margin-top: 16px;
  }
}





.padding-content {
  padding: 28px 15px;
}

/* sib-form */













/* /sib-form */