@use "../abstracts/mixin";

.wrap-slider {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .box-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    .heading,
    h1 {
      margin-bottom: 18px;
      &.mb_38 {
        margin-bottom: 38px;
      }
    }
    p {
      margin-bottom: 48px;
      font-size: 20px;
      line-height: 24px;
      &.mb_15 {
        margin-bottom: 15px;
      }
      &.sale_off {
        background-color: #ff5c39;
        padding: 5px 20px;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
      }
    }
  }
}

.tf-slideshow {
  overflow: hidden;
  .wrap-pagination {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    right: 0;
    .sw-dots {
      margin-top: 0;
    }
  }
  .sw-absolute-3 {
    right: 3%;
    left: unset;
    width: auto;
    .sw-dots {
      flex-direction: column;
    }
  }
  .card-box {
    padding: 64px 48px 70px;
    border-radius: 10px;
    max-width: 550px;

    .heading {
      margin-bottom: 38px;
    }
  }
  .subheading {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 22.4px;
  }
  .box-content {
    .subheading {
      margin-bottom: 14px;
    }
  }
  .banner-wrapper {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .box-content {
      position: absolute;
      left: 15px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
    .description {
      margin-top: 20px;
      font-size: 16px;
      line-height: 19.2px;
    }
    .tf-btn {
      margin-top: 30px;
    }
  }
  .text-in-right {
    .box-content {
      left: unset;
    }
  }
}

.slider-effect-fade {
  .swiper-slide {
    .fade-item {
      transform: translateY(100px);
      opacity: 0;
      visibility: hidden;
      @include mixin.transition3;
      &.fade-box {
        transition-delay: 0.4s;
      }
      &.fade-item-1 {
        transition-delay: 0.5s;
      }
      &.fade-item-2 {
        transition-delay: 0.6s;
      }
      &.fade-item-3 {
        transition-delay: 0.7s;
      }
      &.fade-item-4 {
        transition-delay: 0.8s;
      }
    }
    &.swiper-slide-active {
      .fade-item {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.hover-sw-nav {
  .sw-dots {
    margin-top: 15px;
    position: relative;
    z-index: 10;
    display: none;
    transform: unset !important;
    bottom: unset;
  }
}

.swiper-slide {
  .box-content {
    opacity: 0;
  }
  &.swiper-slide-active {
    .box-content {
      opacity: 1;
    }
  }
}

.autoplay-linear {
  .swiper-wrapper {
    transition-timing-function: linear;
  }
}
