@use "../abstracts/mixin";

.widget-tabs {
    .widget-menu-tab {
        .item-title {
            &:not(.default) {
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                cursor: pointer;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    background-color: var(--main);
                    @include mixin.transition3;
                }
            }
        }
    }

    .widget-content-tab {
        position: relative;
        overflow: hidden;

        .widget-content-inner {
            padding: 15px 0px;
            display: block;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            -webkit-transform: translateY(30px);
            -ms-transform: translateY(30px);
            transform: translateY(30px);
            transition-timing-function: ease-in;
            transition-duration: 0.2s;

            &.active {
                pointer-events: auto;
                opacity: 1;
                visibility: visible;
                position: relative;
                z-index: 2;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                transition-timing-function: ease-out;
                transition-duration: 0.3s;
                transition-delay: 0.3s;
            }
        }
    }

    &.style-has-border {
        border: 0px solid var(--line);

        .widget-menu-tab {
            display: flex;
            gap: 10px 50px;
            margin: 0 0px;
            border-bottom: 1px solid var(--line);
            overflow-x: auto;

            .item-title {
                padding: 15px 0;
                min-width: max-content;

                &::after {
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                }

                &.active {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.style-two-col {
        display: grid;
        grid-template-columns: 3fr 9fr;
        gap: 30px;

        .widget-menu-tab {
            display: flex;
            flex-direction: column;
            gap: 10px 50px;
            border-left: 2px solid var(--line);
            height: max-content;

            .item-title {
                padding: 15px 38px;

                &::after {
                    top: 0;
                    left: -2px;
                    width: 2px;
                    height: 0;
                }

                &.active {
                    &::after {
                        height: 100%;
                    }
                }
            }
        }

        .widget-content-tab {
            border: 1px solid var(--line);
            height: fit-content;
        }
    }
}





.flat-animate-tab {
    overflow: hidden;

    .tab-content {
        position: relative;
    }

    .tab-pane {
        display: block;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        transition-timing-function: ease-in;
        transition-duration: 0.2s;

        &.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 2;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;

            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
    }
}